block variables
	-var autor = 'Іван Холод'
	- var desc = 'Особистий сайт Software Engineer';

include mixins


<!DOCTYPE html>
html(lang="uk")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title #{title}
		link(rel="stylesheet", href="main.css")
		link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
	body
		include ../front/build/img/icons/sprite.svg
		block content
		script(src="main.js") 
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaK3hx9fIGNWKCe4WLu0YpDZLEAOLvfIg&callback=initMap" async defer)
		script(src="https://unpkg.com/axios/dist/axios.min.js")