section.section.contacts
	.block_accordion-contacts.accordion Контакти
	.form-container
		form.form__contact#mail
			.form__subtitle Зв'язатись зі мною
			.status
			label.form__input-line
				input(name="name" type="text" placeholder="Ім'я").form__input
			label.form__input-line
				input(name="email" type="email" placeholder="E-mail").form__input
				textarea(placeholder="Ваше повідомлення" name="text").form__textarea
			.form__btns.form__input-line
				input(name="" type="submit" value="Відправити").form__btn-send
				input(name="" type="reset" value="Очистити").form__btn-reset