block variables 
header.section.header
	.header_body
		.header__socials
			ul.socials
				each name, link in {'https://www.facebook.com/ivanxolod': 'fb', 'https://github.com/IvanKholodP': 'github', 'https://www.linkedin.com/in/ivan-kholod-7b4611164/': 'in'}
					li.socials__item
						a(href=`${link}` target="_blank").socials__link
							svg.socials__icon
								use(href=`#${name}`)
		.header__burger
			span
		nav.header__menu
			ul.nav-menu
				each name, link in {'works': 'Мої роботи', 'about': 'Про мне', 'blog': 'Блог', '/': 'Авторизація'}
					li.nav-menu__list
						a(href=`${link}`).nav-menu__link=name