section.section.hero
	.hero__bg
		img(src="./img/bg.png", alt="").hero__bg-img
	a(href="").down-arrow
		svg.down-arrow__icon
			use(href="#arrow_down")
	.hero__title
		img(src="./img/decor/vector_header.png", alt="").section-title
		.user.hero__user-block
			.user__photo
				.user__photo-avatar
					img(src="./img/ava.jpg", alt="").user__photo-img
			.user__name #{autor}
			.user__desc #{desc}