.admin_wrapper {
	height: 100%;
	position: relative;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	overflow: hidden;
	background-color: antiquewhite;
	.admin_content {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		.header_admin {
			height: 70px;
			width: 100%;
			background-color: $blue;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 30px;
			color: $white;
			.admin_title {
				@include adaptive-font(36, 18);
			}
			.admin_backHome {
				button {
					background-color: transparent;
					text-decoration: underline;
					color: $white;
					@include adaptive-font(20, 14);
				}
			}
		}
		.content_tabs {
			background-color: rgba(255, 255, 255, 0.075);
			.tabs_menu {
				display: flex;
				width: 100%;
				height: 50px;
				background-color: #c2c2c1;
				color: $main-color;
				position: relative;
				@include adaptive-font(20, 18);
				.tabs_menu-item {
					width: 200px;
					height: 100%;
					text-align: center;
					position: relative;
					line-height: 47px;
					border-right: #5f5f5f 4px solid;
					font-weight: 700;
					text-transform: uppercase;
					cursor: pointer;
				}
				.tabs_menu-item._admin_active {
					background-color: $white;
					color: $blue;
				}
			}
			.tabs_content {
				height: 100%;
				position: relative;
				width: 100%;
				.admin_img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					img {
						object-fit: fill;
					}
				}
				.tab {
					padding: 50px;
					display: none;
					position: relative;
					height: 100%;
					.admin-form {
						display: flex;
						flex-direction: column;
						p {
							@include adaptive-font(28, 18);
							font-weight: 500;
							padding: 5px 0;
						}
						.status {
							padding: 0 0 10px 0;
						}
						.data-form {
							display: flex;
							flex-direction: row;
							.admin-about-me-box {
								@include adaptive-font(24, 18);
								font-weight: 500;
								display: flex;
								flex-direction: column;
								padding: 0 10% 0 0;
								flex: 1 0 33.333%;
								.admin-about-me-label {
									display: flex;
									justify-content: space-between;
									@include adaptive-font(20, 16);
									font-weight: 400;
									padding: 20px 0;
									position: relative;
									input {
										width: 40px;
										height: 20px;
										border-radius: 5px;
										padding: 0 0 0 7px;
									}
								}
							}
						}
						.admin_save_button {
							flex: 0 1 100%;
							input {
								@include adminButton;
							}
						}
					}
					.admin-form.admin-blog,
					.admin-works,
					.admin-add__skill {
						display: flex;
						flex-direction: column;
						p {
							@include adaptive-font(28, 18);
							font-weight: 500;
							padding: 5px 0;
						}
						.status {
							padding: 0 0 10px 0;
						}
						input,
						select {
							margin: 20px 0;
							height: 40px;
							width: 400px;
						}
						input,
						textarea {
							padding: 3px 0 0 5px;
							border-radius: 10px;
							margin: 0 0 30px 0;
						}
						.admin_save_button {
							input {
								@include adminButton;
							}
						}
					}
				}
				.tab._admin_active {
					display: block;
				}
			}
		}
	}
}

@media (max-width: 540px) {
	.admin_wrapper {
		overflow: auto;
		.admin_content {
			.header_admin {
				height: 50px;
				width: 100%;
				background-color: $blue;
				flex-direction: column-reverse;
				padding: 5px 0;
			}
			.content_tabs {
				.tabs_menu {
					flex-direction: column;
					width: 100%;
					height: 120px;
					.tabs_menu-item {
						width: 100%;
						line-height: 37px;
						border-top: 3px solid #5f5f5f;
						border-right: none;
						&:nth-child(1) {
							border-top: none;
						}
					}
				}
				.tabs_content {
					.tab {
						padding: 30px;
						.admin-form {
							flex-direction: column;
							flex-wrap: wrap;
							.admin-about-me-box {
								padding: 0 10% 20px 0;
								.admin-about-me-label {
									padding: 3px 0;
								}
							}
						}
						.admin-form.admin-blog,
						.admin-works {
							input,
							textarea {
								width: 100%;
							}
						}
					}
				}
			}
		}
	}
}
