.welcome__auth {
	.welcome__bg-img {
		width: 100%;
		height: 100vh;
		object-fit: cover;
		img {
			width: 100%;
			height: 100%;
		}
	}
	.content__welcome {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		.content__item {
			width: 380px;
			height: 410px;
			position: relative;
			perspective: 1000px;
			transform-style: preserve-3d;
			.content__body-welcome {
				background-color: rgba(28, 31, 41, 0.5);
				display: flex;
				flex-direction: column;
				align-items: center;
				border-radius: 10px;
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				.content__auth {
					position: absolute;
					top: 15px;
					right: 15px;
					.auth__icon {
						width: 15px;
						height: 15px;
						fill: $white;
						&:hover {
							fill: $blue;
							cursor: pointer;
						}
					}
				}
				.welcome__photo {
					padding: 40px 0 0 0;
					.welcome__photo-img {
						width: 160px;
						height: 160px;
						border-radius: 50%;
						object-fit: cover;
					}
					.welcome__photo-img img {
						max-width: 100%;
					}
				}
				.welcome__name {
					@include adaptive-font(36, 26);
					line-height: 41px;
					font-weight: 500;
					color: #ffffff;
					padding: 20px 0 10px 0;
				}
				.welcome__desc {
					@include adaptive-font(18, 16);
					line-height: 24px;
					color: #ffffff;
				}
				.welcome__socials {
					padding: 20px 0 0 0;
					flex: 1 1 auto;
					.socials {
						display: flex;
						.socials__item {
							.socials__icon {
								width: 40px;
								height: 35px;
								fill: $white;
								margin: 0 10px 0 0;
							}
							:hover svg {
								fill: $blue;
								cursor: pointer;
							}
						}
					}
				}
				.welcome__menu {
					width: 100%;
					.nav-menu {
						display: flex;
						height: 45px;
						width: 100%;
						border-radius: 0 0 10px 10px;
						background-color: rgba(22, 90, 209, 0.5);
						.nav-menu__list {
							flex: 0 1 33.333%;
							text-align: center;
							line-height: 44px;
							position: relative;
							cursor: pointer;
							&:nth-child(2) a::before {
								content: "";
								width: 1px;
								height: 100%;
								background-color: #ffffff;
								@include stance(y);
								left: 0%;
							}
							&:nth-child(2) a::after {
								content: "";
								width: 1px;
								height: 100%;
								background-color: #ffffff;
								@include stance(y);
								right: 0%;
							}
							&:hover {
								background-color: $blue;
							}
							&:nth-child(3):hover {
								border-radius: 0 0 10px 0;
							}
							&:nth-child(1):hover {
								border-radius: 0 0 0 10px;
							}
							.nav-menu__link {
								color: $white;
								@include adaptive-font(16, 14);
								letter-spacing: 1px;
								font-weight: 500;
								display: block;
								width: 100%;
								height: 100%;
							}
						}
					}
				}
			}
			.content__body-auth {
				background-color: rgba(28, 31, 41, 0.5);
				display: flex;
				flex-direction: column;
				align-items: center;
				border-radius: 10px;
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				.auth__label {
					@include adaptive-font(35, 28);
					text-transform: uppercase;
					color: $white;
					padding: 30px 0 20px 0;
					letter-spacing: 1px;
				}
				.form {
					display: flex;
					flex-direction: column;
					height: 410px;
					width: 100%;
					.status {
						color: $white;
						padding: 0 0 10px 5px;
					}
					.form__item {
						display: flex;
						flex: 1 1 auto;
						padding: 0 5px;
						color: $white;
						font-size: 16px;
						.checkbox__label {
							padding: 0 0 0 10px;
						}
						.form__input {
							width: 325px;
							padding: 0 0 0 10px;
							height: 45px;
							border-radius: 0 5px 5px 0;
						}
						.user__login-img,
						.user__login-parol {
							width: 45px;
							height: 45px;
							background-color: #f0efe9;
							position: relative;
							border-radius: 5px 0 0 5px;
							img {
								@include stance(both);
							}
						}
						&:nth-child(3) {
							display: flex;
							justify-content: center;
						}
						&:nth-child(4) {
							display: flex;
							flex-wrap: wrap;
							justify-content: center;
						}
						.radiotitle {
							flex: 0 1 100%;
							text-align: center;
							padding: 0 0 15px 0;
						}
						.radiobox {
							flex: 0 1 50%;
						}
					}
					.auth__menu {
						width: 100%;
						padding: 0;
						.nav-menu {
							display: flex;
							height: 45px;
							width: 100%;
							background-color: rgba(22, 90, 209, 0.5);
							position: relative;
							border-radius: 0 0 10px 10px;
							.nav-menu__list {
								flex: 0 1 50%;
								text-align: center;
								line-height: 44px;
								position: relative;
								.link__back-home {
									border-right: 2px solid $white;
									border-radius: 0 0 0 10px;
								}
								.nav-menu__link {
									color: $white;
									background-color: rgba(22, 90, 209, 0.5);
									@include adaptive-font(16, 14);
									letter-spacing: 1px;
									font-weight: 500;
									width: 100%;
									height: 100%;
									cursor: pointer;
									position: relative;
								}
								.link__submit {
									border-radius: 0 0 10px 0;
								}
								.link__submit:hover,
								.link__back-home:hover {
									background-color: $blue;
								}
							}
						}
					}
				}
			}
		}
	}
	.content__footer {
		@include stance(x);
		bottom: 20px;
		color: $white;
		@include adaptive-font(16, 14);
	}
}

.content__body-auth {
	visibility: hidden;
}

@media (max-width: 540px) and (orientation: portrait) {
	.welcome__auth {
		.content__welcome {
			.content__item {
				width: 310px;
				height: 390px;
				.content__body-welcome {
					.welcome__photo {
						padding: 20px 0 0 0;
						.welcome__photo-img {
							width: 150px;
							height: 150px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 813px) and (orientation: landscape) {
	.welcome__auth {
		.content__welcome {
			.content__item {
				height: 87%;
				.content__body-welcome {
					.welcome__photo {
						padding: 5px 0 0 0;
						.welcome__photo-img {
							width: 135px;
							height: 135px;
						}
					}
					.welcome__name {
						line-height: 1px;
						padding: 3% 0;
					}
					.welcome__desc {
						line-height: 0;
						padding: 3% 0;
					}
					.welcome__socials {
						padding: 3% 0;
					}
					.welcome__menu {
						.nav-menu {
							height: 35px;
							.nav-menu__list {
								line-height: 39px;
							}
						}
					}
				}
				.content__body-auth {
					.auth__label {
						padding: 15px 0 0 0;
						.form {
							.status {
								padding: 5px;
							}
						}
					}
				}
			}
		}
		.content__footer {
			bottom: 5px;
		}
	}
}
